<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div style="text-align: justify; text-indent: 4em;">
          <p>
            With a recently completed Master's in Data Science from City, University of London —earned with distinction— 
            I bring together academic excellence and practical experience in data analytics.
          </p>
          <p>
            For my dissertation, I handled a dataset of over 400,000 records using Google Colab while carefully applying the same step-by-step process to
            24 models using Python. This work showed my skill with exploratory data analysis, feature selection and engineering, and analysis of results. 
            Importantly, my research followed international regulatory frameworks and risk management best practices, including CRE36 and IRB standards.
            Currently working on an over one million records HMDA dataset.
          </p>
          <p>
            In my professional life, I thrive in fast-paced environments where my problem-solving abilities stand out. My flexibility is clear from my previous position, where I moved easily 
            between three different roles across different markets, while managing five weekly projects and many daily tasks. This exceptional work capacity led to impressive results, exceeding 
            assigned targets by seventeen times. Colleagues consistently describe me as an outstanding team player, highlighting my resourcefulness and communication skills.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
