<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p style="text-align: justify;">
          He has recently completed a master's in Data Science with distinction at City, University of London. For his dissertation:
            * He managed a dataset of over 400,000 records using Google Colab.
            * Systematically applied the same pipeline to 24 models using python (EDA, feature selection, feature engineering, etc)
            * Followed regulatory framework standards, aiming to align with international regulatory expectations and best practices in risk management (e.g. CRE36, IRB).

          With a passion for solving problems in dynamic environments, at his last job:
            * Participated in 3 roles, 3 different markets, covered over 5 projects weekly, 3 projects daily.
            * Surpassed assigned targets by over 17 times. 
            * Validated by colleagues as a top team player, resourceful and excellent communicator.
        </p>
      </div>
    </div>
  </div>
</section>
