<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
       <div class="portfolio-flex-item portfolio-item">
        <a href="{{ post.link | default: post.url }}" class="portfolio-link" target="_blank">
          <div class="caption">
            <div class="caption-content">
              <!--
              <h4>{{ post.date | date: "%b %Y" }}</h4>
              -->
              <h4>{{ post.title }}</h4>
              <p>{{ post.description }}</p>
              <span class="btn">See Details</span>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
       </div>
      {% endfor %}
    </div>
  </div>
</section>
